In [2]:
import pandas as pd
import numpy as np

In [3]:
def data_backtest(data):
    new_data = data[['Open', 'High', 'Low', 'Close', 'Volume']]
    new_data.index = pd.to_datetime(data['Date'])
    new_data.index.name = None
    return new_data

In [4]:
df_min = pd.read_csv('vn30f1m_3min.csv')
df_hour = pd.read_csv('vn30f1m_1hour.csv')
df_day = pd.read_csv('vn30f1m_1day.csv')

data_min = data_backtest(df_min)
data_hour = data_backtest(df_hour)
data_day = data_backtest(df_day)

In [9]:
data_min.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 125209 entries, 2018-08-13 09:00:00 to 2024-08-30 14:45:00
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Open    125209 non-null  float64
 1   High    125209 non-null  float64
 2   Low     125209 non-null  float64
 3   Close   125209 non-null  float64
 4   Volume  125209 non-null  int64
dtypes: float64(4), int64(1)
memory usage: 5.7 MB

In [17]:
financial_statements = pd.read_csv('financial_indicators.csv')
financial_statements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   period                 77 non-null     object
 1   revenue                77 non-null     float64
 2   operation_profit       77 non-null     float64
 3   pre_tax_profit         77 non-null     float64
 4   post_tax_profit        77 non-null     float64
 5   share_holder_income    77 non-null     float64
 6   operation_income       77 non-null     float64
 7   price_to_earning       38 non-null     float64
 8   price_to_book          38 non-null     float64
 9   roe                    52 non-null     float64
 10  roa                    69 non-null     float64
 11  earning_per_share      69 non-null     float64
 12  book_value_per_share   69 non-null     float64
 13  asset                  74 non-null     float64
 14  debt                   74 non-null     float64
 15  equity                 74 non-null     float64
 16  cash                   74 non-null     float64
 17  fixed_asset            74 non-null     float64
 18  capital                74 non-null     float64
 19  un_distributed_income  74 non-null     float64
 20  free_cash_flow         60 non-null     float64
 21  from_invest            65 non-null     float64
 22  from_financial         65 non-null     float64
 23  from_sale              65 non-null     float64
 24  invest_cost            65 non-null     float64
 25  debt_to_equity_ratio   74 non-null     float64
 26  net_profit_margin      74 non-null     float64
 27  operating_margin       74 non-null     float64
 28  asset_turnover_ratio   74 non-null     float64
 29  cash_ratio             74 non-null     float64
 30  earnings_yield         38 non-null     float64
 31  roce                   74 non-null     float64
dtypes: float64(31), object(1)
memory usage: 19.4+ KB

In [18]:
financial_statements

,period,revenue,operation_profit,pre_tax_profit,post_tax_profit,share_holder_income,operation_income,price_to_earning,price_to_book,roe,...,from_financial,from_sale,invest_cost,debt_to_equity_ratio,net_profit_margin,operating_margin,asset_turnover_ratio,cash_ratio,earnings_yield,roce
0,2024Q2,8281.666667,10435.666667,5125.416667,4100.416667,4058.666667,7087.750000,8.816667,1.516667,0.192333,...,-640.333333,16749.000000,-212.833333,10.916263,0.495120,1.260093,0.008060,0.005592,0.113422,0.121031
1,2024Q1,7901.916667,9928.500000,4945.250000,3959.083333,3925.500000,6899.083333,9.133333,1.558333,0.189667,...,-231.750000,-7869.000000,-132.500000,10.626902,0.501028,1.256467,0.008138,0.006001,0.109489,0.118883
2,2023Q4,7858.166667,10006.583333,4727.166667,3755.833333,3726.500000,6484.166667,8.025000,1.366667,0.193917,...,804.916667,16660.416667,-435.333333,11.093501,0.477953,1.273399,0.008111,0.006198,0.124611,0.124911
3,2023Q3,7155.833333,9264.416667,4252.750000,3412.750000,3385.916667,6181.250000,8.425000,1.433333,0.194750,...,-86.666667,6918.666667,-62.833333,10.672217,0.476919,1.294666,0.008002,0.006801,0.118694,0.120924
4,2023Q2,7150.000000,9240.000000,4381.166667,3504.500000,3475.500000,6158.833333,8.391667,1.475000,0.204167,...,-918.750000,-2470.583333,-283.583333,10.977239,0.490140,1.292308,0.008158,0.007199,0.119166,0.126270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,2006Q2,73.500000,90.500000,90.500000,65.500000,65.500000,90.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,6.011528,0.891156,1.231293,0.003899,0.141664,NaN,0.033668
73,2006Q1,60.500000,52.500000,52.500000,38.000000,38.000000,52.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,8.608602,0.628099,0.867769,0.003385,0.100362,NaN,0.028226
74,2005Q2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,2005Q1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,2005Q3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
import pandas as pd

def label_quarter(df):
    # Lấy cột index dạng datetime
    df = df.copy()
    df['date'] = df.index

    # Tính ngày thứ 21 của tháng đầu tiên trong mỗi quý
    def get_quarter_label(date):
        if date.month in [1, 2, 3]:  # Quý 1 (Bắt đầu từ 21/01)
            start_of_quarter = pd.Timestamp(year=date.year, month=1, day=21)
            if date >= start_of_quarter:
                return f"{date.year}Q1"
            else:
                return f"{date.year - 1}Q4"  # Nếu trước 21/01, thuộc quý 4 của năm trước

        elif date.month in [4, 5, 6]:  # Quý 2 (Bắt đầu từ 21/04)
            start_of_quarter = pd.Timestamp(year=date.year, month=4, day=21)
            if date >= start_of_quarter:
                return f"{date.year}Q2"
            else:
                return f"{date.year}Q1"  # Nếu trước 21/04, thuộc quý 1

        elif date.month in [7, 8, 9]:  # Quý 3 (Bắt đầu từ 21/07)
            start_of_quarter = pd.Timestamp(year=date.year, month=7, day=21)
            if date >= start_of_quarter:
                return f"{date.year}Q3"
            else:
                return f"{date.year}Q2"  # Nếu trước 21/07, thuộc quý 2

        elif date.month in [10, 11, 12]:  # Quý 4 (Bắt đầu từ 21/10)
            start_of_quarter = pd.Timestamp(year=date.year, month=10, day=21)
            if date >= start_of_quarter:
                return f"{date.year}Q4"
            else:
                return f"{date.year}Q3"  # Nếu trước 21/10, thuộc quý 3

    # Áp dụng hàm get_quarter_label cho từng hàng của DataFrame
    df['quarter_label'] = df['date'].apply(get_quarter_label)

    return df['quarter_label']


data_min['quarter_label'] = label_quarter(data_min)
data_hour['quarter_label'] = label_quarter(data_hour)
data_day['quarter_label'] = label_quarter(data_day)

In [20]:
data_day.head(50)

                      Open   High    Low  Close  Volume quarter_label
2018-08-13 07:00:00  943.5  954.6  942.3  954.2   79327        2018Q3
2018-08-14 07:00:00  955.5  961.8  952.1  959.3   79266        2018Q3
2018-08-15 07:00:00  958.0  962.3  946.6  946.6   89449        2018Q3
2018-08-16 07:00:00  942.4  947.3  935.5  947.0   71410        2018Q3
2018-08-17 07:00:00  952.2  954.6  945.0  947.0   98531        2018Q3
2018-08-20 07:00:00  946.1  951.5  942.6  945.0   88210        2018Q3
2018-08-21 07:00:00  944.7  958.5  944.0  958.5   83718        2018Q3
2018-08-22 07:00:00  959.5  960.6  953.6  957.0   87588        2018Q3
2018-08-23 07:00:00  957.0  963.5  955.8  960.6   84610        2018Q3
2018-08-24 07:00:00  959.5  963.0  956.4  958.5   73122        2018Q3
2018-08-27 07:00:00  960.8  965.2  960.7  963.2   56268        2018Q3
2018-08-28 07:00:00  965.9  967.6  964.4  965.6   54821        2018Q3
2018-08-29 07:00:00  966.0  966.1  962.0  962.0   47353        2018Q3
2018-08-30 07:00:00  961.1  970.5  960.6  970.5   47804        2018Q3
2018-08-31 07:00:00  970.0  973.3  963.7  965.7   62804        2018Q3
2018-09-04 07:00:00  964.5  965.8  956.0  956.0   64838        2018Q3
2018-09-05 07:00:00  952.5  954.4  940.4  944.0   87717        2018Q3
2018-09-06 07:00:00  945.3  945.8  933.4  934.7   94376        2018Q3
2018-09-07 07:00:00  935.3  946.2  930.5  943.5   99446        2018Q3
2018-09-10 07:00:00  944.5  944.8  934.8  936.2   83775        2018Q3
2018-09-11 07:00:00  936.8  953.1  935.9  953.1   84494        2018Q3
2018-09-12 07:00:00  955.0  962.8  950.0  950.0  103483        2018Q3
2018-09-13 07:00:00  952.9  959.5  948.6  953.0  126627        2018Q3
2018-09-14 07:00:00  956.0  960.9  953.5  958.5   91254        2018Q3
2018-09-17 07:00:00  955.7  956.3  949.3  950.5   75317        2018Q3
2018-09-18 07:00:00  948.2  962.0  947.0  962.0   76287        2018Q3
2018-09-19 07:00:00  964.3  966.9  960.0  962.8   71919        2018Q3
2018-09-20 07:00:00  963.8  971.0  962.2  971.0   52525        2018Q3
2018-09-21 07:00:00  975.5  980.4  968.6  980.0   76966        2018Q3
2018-09-24 07:00:00  978.1  984.5  977.3  981.5   69909        2018Q3
2018-09-25 07:00:00  982.2  983.9  979.5  980.6   62209        2018Q3
2018-09-26 07:00:00  981.4  988.3  980.1  981.0   64336        2018Q3
2018-09-27 07:00:00  983.0  987.3  981.0  985.8   77757        2018Q3
2018-09-28 07:00:00  987.5  990.4  986.3  987.4   60396        2018Q3
2018-10-01 07:00:00  989.0  991.2  984.9  984.9   50646        2018Q3
2018-10-02 07:00:00  984.6  988.4  981.2  984.0   61385        2018Q3
2018-10-03 07:00:00  984.5  987.2  982.8  986.5   57468        2018Q3
2018-10-04 07:00:00  987.2  992.0  986.5  992.0   49998        2018Q3
2018-10-05 07:00:00  990.1  990.8  982.5  982.6   53977        2018Q3
2018-10-08 07:00:00  979.0  979.5  972.2  973.2   64737        2018Q3
2018-10-09 07:00:00  974.3  976.3  970.2  973.5   62027        2018Q3
2018-10-10 07:00:00  973.1  973.9  970.2  971.6   43355        2018Q3
2018-10-11 07:00:00  959.0  959.0  920.2  920.2  129141        2018Q3
2018-10-12 07:00:00  910.0  944.0  903.0  944.0  148760        2018Q3
2018-10-15 07:00:00  939.5  942.0  919.0  919.0  134430        2018Q3
2018-10-16 07:00:00  925.0  937.5  924.7  935.1  121759        2018Q3
2018-10-17 07:00:00  952.0  953.0  942.3  945.5   93709        2018Q3
2018-10-18 07:00:00  941.0  941.8  936.5  938.2   61575        2018Q3
2018-10-22 07:00:00  935.3  937.1  920.6  921.5  102024        2018Q4
2018-10-23 07:00:00  912.5  914.5  891.1  901.0  136594        2018Q4

In [25]:
# Tạo các DataFrame mới chỉ bao gồm 'Close' và 'quarter_label', giữ nguyên 'index'
df_day = data_day[['Close', 'quarter_label']].copy()

df_min = data_min[['Close', 'quarter_label']].copy()
df_min['quarter_label'] = label_quarter(data_min)

df_hour = data_hour[['Close', 'quarter_label']].copy()
df_hour['quarter_label'] = label_quarter(data_hour)

# Đổi tên cột 'period' trong financial_statements để khớp với 'quarter_label'
financial_statements = financial_statements.rename(columns={'period': 'quarter_label'})

# Ghép nối (merge) các DataFrame dựa trên 'quarter_label', giữ nguyên index của df gốc
merged_day = pd.merge(df_day, financial_statements, on='quarter_label', how='left', left_index=True)
merged_min = pd.merge(df_min, financial_statements, on='quarter_label', how='left', left_index=True)
merged_hour = pd.merge(df_hour, financial_statements, on='quarter_label', how='left', left_index=True)

# Hiển thị kết quả của các DataFrame mới sau khi ghép nối
print(merged_day.head())
print(merged_min.head())
print(merged_hour.head())

MergeError: Can only pass argument "on" OR "left_index" and "right_index", not a combination of both.

In [26]:
merged_day

,Close,quarter_label,revenue,operation_profit,pre_tax_profit,post_tax_profit,share_holder_income,operation_income,price_to_earning,price_to_book,...,from_financial,from_sale,invest_cost,debt_to_equity_ratio,net_profit_margin,operating_margin,asset_turnover_ratio,cash_ratio,earnings_yield,roce
0,954.2,2018Q3,3619.090909,4688.727273,1574.0,1252.363636,1238.636364,2704.090909,13.254545,1.936364,...,-137.090909,-753.181818,-146.363636,14.386904,0.346044,1.295554,0.007629,0.009913,0.075446,0.152074
1,959.3,2018Q3,3619.090909,4688.727273,1574.0,1252.363636,1238.636364,2704.090909,13.254545,1.936364,...,-137.090909,-753.181818,-146.363636,14.386904,0.346044,1.295554,0.007629,0.009913,0.075446,0.152074
2,946.6,2018Q3,3619.090909,4688.727273,1574.0,1252.363636,1238.636364,2704.090909,13.254545,1.936364,...,-137.090909,-753.181818,-146.363636,14.386904,0.346044,1.295554,0.007629,0.009913,0.075446,0.152074
3,947.0,2018Q3,3619.090909,4688.727273,1574.0,1252.363636,1238.636364,2704.090909,13.254545,1.936364,...,-137.090909,-753.181818,-146.363636,14.386904,0.346044,1.295554,0.007629,0.009913,0.075446,0.152074
4,947.0,2018Q3,3619.090909,4688.727273,1574.0,1252.363636,1238.636364,2704.090909,13.254545,1.936364,...,-137.090909,-753.181818,-146.363636,14.386904,0.346044,1.295554,0.007629,0.009913,0.075446,0.152074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1499,1317.0,2024Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1500,1321.8,2024Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1501,1322.1,2024Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1502,1326.8,2024Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1503,1332.7,2024Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN